<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!--Google analytics, cmon i need atleast how many people wiew this page-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9M0BTHRHQF"></script>
  <script async>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

  </script>
  <!--GA END-->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/weather-icons.min.css">
  <title>Weather</title>
  <meta name="description" content="The opensource weather web app. Built to be fast and secure." />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="forecast, weather, weather forecast, 7 day forecast">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Social platform meta tags-->
  <meta name="twitter:title" content="Weather">
  <meta name="og:title" content="Weather">
  <meta name="twitter:description" content="The opensource weather web app. Built to be fast and secure.">
  <meta name="og:description" content="The opensource weather web app. Built to be fast and secure.">
  <link rel="icon" href="/img/favicon.png">
</head>

<body class="">
  <div id="application">
    <div v-if="loaded==true" class="padding-lg-x container flexbox f-center f-column background bg-sunny" v-bind:class="{
          'bg-sunny':loaded==false,
          'bg-clear':forecast.current.weather[0].main=='Clear',
          'bg-sunny':forecast.current.weather[0].main=='Sunny',
          'bg-rain':forecast.current.weather[0].main=='Rain',
          'bg-clouds':forecast.current.weather[0].main=='Clouds'}">
      <div class="notification-tray">
        <section v-for="notification in notifications" class="notification notif-info">
          <h1>{{ notification.title }}</h1>
          <hr>
          <p>{{ notification.text }}</p>
        </section>
      </div>
      <section class="animated current-temp">
        <h1>{{location.address.city + ", " + location.address.state}} <i v-on:click="setLocation()" class="fas fa-map-marker-alt"></i></h1>
        <p class="temp text-center"><i :class="'wi weather-icon wi-owm-' + forecast.current.weather[0].id"></i>{{format(forecast.current.temp)}}</p>
        <p>{{forecast.current.weather[0].main}}</p>

        <p>Feels like {{format(forecast.current.feels_like)}}</p>
        <p>Visibility {{forecast.current.visibility / 1000}} km</p>
      </section>
      <article class="timely-forcast animated">
        <h1>Daily</h1>
        <div class="flexbox f-center f-row f-wrap">
          <section class="timely-forcast-element needs-blur" v-for="dayforcast in forecast.daily">
            <h2>{{ getDateFromTimestamp(dayforcast.dt).getUTCDate()}} {{ getDateFromTimestamp(dayforcast.dt).toLocaleString('en-US', {month: 'short'})}}</h2>
            <i :class="'wi fa-3x wi-owm-' + dayforcast.weather[0].id"></i>
            <p class="text-large"><sup>{{format(dayforcast.temp.max)}}</sup>/<sub>{{format(dayforcast.temp.min)}}</sub></p>
          </section>
        </div>
      </article>
      <article class="timely-forcast animated">
        <h1>Hourly</h1>
        <div class="flexbox f-center f-row f-wrap">
          <section class="timely-forcast-element" v-for="index in 8" v-if="forecast.hourly[index * 3].dt > forecast.current.dt">
            <h2>{{ getDateFromTimestamp(forecast.hourly[index * 3].dt).getUTCHours() + ":00"}}</h2>
            <i :class="'wi fa-3x wi-owm-' + forecast.hourly[index * 3].weather[0].id"></i>
            <p>{{format(forecast.hourly[index * 3].temp)}}</p>
          </section>
        </div>
      </article>
      <article class="timely-forcast animated" v-if="polution != undefined">
        <h1>Polution</h1>

        <div class="flexbox f-center f-row f-wrap">
          <section class="timely-forcast-element child-wrap-full">
            <h2>Air quality</h2>
            <hr class="hide-on-mobile">
            <p class="text-large">
              <i v-if="polution.list[0].main.aqi < 3" class="fas fa-grin"></i>
              <i v-else-if="polution.list[0].main.aqi > 3" class="far fa-frown"></i>
              <i v-else class="far fa-meh text-large f-wrap"></i>
              {{formatAqi(polution.list[0].main.aqi)}}
            </p>
            <p>Fine particulate matter : <strong>{{polution.list[0].components.pm2_5}}</strong></p>
            <p>Coarse particulate matter : <strong>{{polution.list[0].components.pm10}}</strong></p>
          </section>
          <section class="timely-forcast-element child-wrap-full">
            <h2>Carbon monoxide</h2>
            <hr class="hide-on-mobile">
            <p class="text-large">{{polution.list[0].components.co}} μg/m3</p>
          </section>
          <section class="timely-forcast-element child-wrap-full">
            <h2>Nitrogen monoxide</h2>
            <hr class="hide-on-mobile">
            <p class="text-large">{{polution.list[0].components.no}} μg/m3</p>
          </section>
          <section class="timely-forcast-element child-wrap-full">
            <h2>Nitrogen dioxide</h2>
            <hr class="hide-on-mobile">
            <p class="text-large">{{polution.list[0].components.no2}} μg/m3</p>
          </section>
          <section class="timely-forcast-element child-wrap-full">
            <h2>Ozone</h2>
            <hr class="hide-on-mobile">
            <p class="text-large">{{polution.list[0].components.o3}} μg/m3</p>
          </section>
          <section class="timely-forcast-element child-wrap-full">
            <h2>Ammonia</h2>
            <hr class="hide-on-mobile">
            <p class="text-large">{{polution.list[0].components.nh3}} μg/m3</p>
          </section>
        </div>
      </article>
    </div>
    <div v-else class="background bg-clear flexbox f-center r-column">
      <div class="notification-tray" style="background-color: red;">
        <section v-for="notification in notifications">
          {{ notification.text }}
        </section>
      </div>

      <div class="">
        <h1>Loading</h1>
        <div class="progresswheel rotating">

        </div>
      </div>
    </div>

    <div class="cookie-notice-parrent animated" v-if="cookiePrefSet==false">
      <div class="cookie-notice">
        <h1>Cookie notice</h1>
        <p>We do not store data other than analytical data. This site uses cookies to store application data on the client, and for <strong>analytics</strong>. For more information visit our privacy page. Do you accept cookies that are not strictly needed for the functioning of this site? </p>
        <a href="#" class="bg-highlight text-big margin-left-20 text-white" onclick="app.cookiePolicySet(true)">Yes</a> <a href="#" onclick="app.cookiePolicySet(true)" class="bg-highlight text-big margin-left-20 text-white">No</a>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>
